@font-face {
   font-family: Brandon-reg;
   src: url(../assets/fonts/Brandon_reg.otf);
}

@font-face {
   font-family: Brandon-med;
   src: url(../assets/fonts/Brandon_med.otf);
}

@font-face {
   font-family: Brandon-light;
   src: url(../assets/fonts/Brandon_light.otf);
}

.row {
	margin-right: 0;
}

body {
	background-color: #F0F1EF;
	font-family: Brandon-reg;
}

.title {
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	padding-bottom: 2rem;
}

.main-container {
	width: 95%;
	background-color: #fff;
	margin: 0 auto;
	padding: 10px 20px;
}

.order-info {
	text-align: center;
	margin-bottom: 40px;
}

.order-info span {
	display: block;
	font-weight: bold;
}

.grey-text {
	color: #909090;
	font-weight: bold;
}

.list-container {
	font-family: Brandon-med;
	padding: 10px 30px;
}

.list-heading {
	border-bottom: 1px solid #000;
}

.list-items {
	padding: 10px 0;
}

.list-item-name-width, .list-item-width {
	margin-bottom: 10px;
	width: 50%;
}

.total {
	font-family: Brandon-light;
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 2rem;
	text-align: center;
}

.black-text {
	color: #000;
}

.btn-container {
	margin-top: 2rem;
	text-align: center;
}

.print-btn, .repeat-btn {
	width: 10rem;
	border-radius: 0%;
	background-color: #000;
	color: #fff;
}

.print-btn {
	margin-bottom: 5px;
}

@media only screen and (min-width: 576px) {
	.main-container {
		width: 90%;
		padding: 30px 40px;
	}

	.list-item-name-width {
		width: 60%;
	}

	.list-item-width {
		width: 20%;
	}

	.print-btn {
		float: right;
		width: 10rem;
	}

	.repeat-btn {
		float: left;
		width: 10rem;
	}
}

@media only screen and (min-width: 992px) {
	.main-container {
		width: 80%;
	}

	.list-item-name-width {
		width: 30%;
	}

	.list-item-width {
		width: 14%;
	}
}